body {
    justify-content: center;
    padding-top: 24px;
    background: #f4f4f5;
}
label {
    display: block;
    margin-bottom: 6px;
}
* {font-family: Arial}

textarea {
    width: 80%;
    height: 84px;
    outline: none;
}
input {
    outline: none;
}
button {
    cursor: pointer;
}